@{
    ViewData["Title"] = "Index";
}

<article class="post container" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header>
        <h1 itemprop="name headline" style="width:50%;">Contact</h1>
    </header>
</article>