@{
    ViewData["Title"] = "Contact";
}

<article class="post container" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header>
        <h1 itemprop="name headline" style="width:50%;">Contact</h1>
    </header>

    <div itemprop="articleBody mainEntityOfPage" cdnify>
        <p>Places you can contact me, and my other socials, are listed here.</p>
        
        <table class="no-highlight">
            <tr>
                <td><i class="fas fa-envelope"></i></td>
                <td><a href="mailto:joel@sonofgoran.com">joel@sonofgoran.com</a></td>
            </tr>
            <tr>
                <td><i class="fab fa-linkedin"></i></td>
                <td><a href="https://www.linkedin.com/in/joel-goransson-49a9a7112/">LinkedIn</a></td>
            </tr>
            <tr>
                <td><i class="fab fa-github"></i></td>
                <td><a href="https://github.com/Issung">GitHub</a></td>
            </tr>
            <tr>
                <td><i class="fab fa-discord"></i></td>
                <td><a href="https://discord.com/users/134932793166790656">JoelG#5600</a></td>
            </tr>
            <tr>
                <td><i class="fab fa-stack-overflow"></i></td>
                <td><a href="https://stackoverflow.com/users/8306962/joel?tab=profile">Stack Overflow</a></td>
            </tr>
        </table>
    </div>
</article>