@{
    ViewData["Title"] = "Index";
}

<article class="post container" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header>
        <h1 itemprop="name headline" style="width:50%;">Welcome</h1>
    </header>

    <p>Welcome to my website, I'm Joel or <i>Issun</i> online.</p>
    <p>
        I'm a software engineer based in Tasmania with experience in both native and web development.
        I recently graduated from university with a GPA of 0.00/7 and am currently searching for employment.
    </p>
    <br />

    <p>Some things that interest me are:</p>
    <ul>
        <li>The C# Language</li>
        <li>Open Source Software/Hardware</li>
        <li>Optimisation</li>
        <li>Game Design & Development</li>
        <li>Data Hoarding & Preservation</li>
        <ul>
            <li>Web Scraping</li>
        </ul>
    </ul>
    <br />

    <p>I maintain a handful of my own open source projects, and try to contribute to others when possible.</p>
    <p>My <a href="/portfolio">Portfolio</a> displays the wide range of my current projects and past work.</p>
    <p>
        I've also setup this website to have a <a href="/blog">Blog</a> where I plan to post about topics such as programming, education, game design and 
        data hoarding, though I'm not sure how much often I will do this.
    </p>
</article>