@{
    ViewData["Title"] = "Portfolio";
}

<style type="text/css">
    article a {
        text-decoration: none;
    }
</style>

<div class="container mb-5">
    <div class="row">
        <div class="col-12">
            <h1>Portfolio</h1>
        </div>
        <div class="col-12">
            <p>This is my portfilio of all projects I would like to share, click on any item if you woudld like to learn more.</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h1>Software</h1>
        </div>
    </div>

    <div class="row">
        <div class="col portfolio-item" style="background-image: url(img/portfolio/background-climatefutures.png);">
            <h1>Climate Futures Data Portal</h1>
            <h6>2020</h6>
            <a href="/portfolio/climatefutures"><span></span></a>
        </div>
    </div>
    <div class="row">
        <div class="col portfolio-item" style="background-image: url(img/portfolio/background-sorterexpress.png);">
            <h1>Sorter<wbr />Express</h1>
            <h6>2018 - Present</h6>
            <a href="/portfolio/sorterexpress"><span></span></a>
        </div>
    </div>
    <div class="row">
        <div class="col portfolio-item" style="background-image: url(img/portfolio/background-gchan.png);">
            <h1>GChan</h1>
            <h6>2019 - Present</h6>
            <a href="/portfolio/gchan"><span></span></a>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h1>Games</h1>
        </div>
    </div>

    <div class="row">
        <div class="col portfolio-item" style="background-image: url(img/portfolio/background-jugglenaut.png);">
            <h1>JuggleNaut</h1>
            <h6>2019</h6>
            <a href="/portfolio/jugglenaut"><span></span></a>
        </div>
    </div>
    <div class="row">
        <div class="col portfolio-item" style="background-image: url(img/portfolio/background-dog.png);">
            <h1>Tokyo Korb 2049</h1>
            <h6>2016</h6>
            <a href="/portfolio/tokyokorb2049"><span></span></a>
        </div>
    </div>

    @*<div class="row mt-5">
        <div class="col-12">
            <h1>Animation</h1>
        </div>
    </div>

    <div class="row">
        <div class="col portfolio-item" style="background-image: url(img/portfolio/background-mk009.png);">
            <h1>MK#009</h1>
            <h6>2015</h6>
            <a href="/portfolio/mk009"><span></span></a>
        </div>
    </div>*@
</div>

<script>
    $(document).ready(function() {
        $('.nav-item:contains("Portfolio")').addClass('active');
    });
</script>