@{
    ViewData["Title"] = "Portfolio";
}

<article class="post container" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header>
        <h1 itemprop="name headline">Portfolio</h1>
    </header>

    <div itemprop="articleBody mainEntityOfPage" cdnify>
        
    </div>

    @*<footer>
        
    </footer>*@
</article>