$footer_height: 150px;
$link_color: #5ab8ff;
$text_color: #f5f5f5;
$body-bg-color: #222222;
$light-bg-color: #191919;
$code_block_bg_color: #1E1E1E;
$code_text_color: #FFFFFF;
$box_shadow_color: #171717;

// Comments
$comments_bg_color: #1d1d1d;
$comments_border-color: #333333;
$comments_input_border-color: #bbb;
$comments_border_highlight_color: #5a5a5a;
$comments_background_highlight_color: #232323;

// Bootstrap breakpoints

$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 119.98px;