@import "variables";

@font-face {
    font-family: Poppins;
    src: url(/fonts/Poppins-Regular.ttf);
}

* {
    /*margin: 0;*/
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", Helvetica, sans-serif;
}

.size-indicator {
    position: fixed;
    top: 15px;
    left: 15px;
    display: block;
    background-color: rgba(0,0,0,0.5);
    padding: 2px 5px 2px 5px;
    z-index: 9999;
}

html {
    min-height: 100%;
    position: relative;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
    font: 19px/1.6 "Open Sans", Ubuntu, "Nimbus Sans L", Avenir, AvenirNext, "Segoe UI", Helvetica, Arial, sans-serif;
    /*margin-bottom: $footer_height; No More Footer*/
    color: $text_color;
    background: $body-bg-color !important;
}

p, li, text, footer {
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75em;
    color: #d5d5d5;
}

.navbar {
    background-color: transparent !important;
    color: white;
    padding: 15px 40px 0px 40px;

    #navbar-photo {
        border-radius: 100px;
        border: 5px grey solid;
        background-color: white;
        -webkit-box-shadow: 0px 0px 25px 0px rgb(0,0,0);
        -moz-box-shadow: 0px 0px 25px 0px rgb(0,0,0);
        box-shadow: 0px 0px 25px 0px rgb(0,0,0);
        transition: all 0.25s;
    }

    #navbar-photo:hover {
        transform: scale(1.075);
    }

    /* Less padding on XS screens. */
    @media screen and (max-width: $xs) {
        padding: 10px 10px 0px 10px;
    }

    .navbar-sitename {
        color: white;
        transition: transform 0.1s;
    }

    .navbar-sitename:hover {
           transform: scale(1.05);
    }

    .nav-item {
        font-family: "Poppins", Helvetica, sans-serif;
        font-size: 15px;
    }
    /* Space between every nav-item apart from when the drop-down menu is used instead. */
    @media screen and (min-width: $md) {
        .nav-item {
            margin-left: 25px;
        }
    }

    .nav-item.active a {
        color: white !important;
        font-weight: bold !important;
    }

    .nav-item a {
        color: #8E8E8E !important;
        transition: color 0.1s;
    }

    .nav-item:hover a {
        color: white !important;
    }
}

tr > td {
    padding-bottom: 5px;
    padding-right: 10px;
}

.siteheader {
    text-align: center;
    padding: .8em 1.5em 2em 1.5em;

    p {
        font-size: 2em;
    }

    a {
        color: $text_color;
        text-decoration: none;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

main {
    animation: fade-in 1s ease;
}

b, strong {
    font-weight: 600;
}

a {
    color: $link_color;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

img, iframe {
    max-width: 100%;
}

img {
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
}

ul, ol {
    padding-left: 2em;
}

time {
    color: lighten($text_color, 25%);
    font-size: .85em;
}

.post {
    padding-bottom: 2em;

    header {

        h1 {
            margin: .2em 0;
            line-height: 1.3;
            font-size: 2.5em;
            font-weight: lighter;

            a {
                color: $text_color;
                text-decoration: none;
            }
        }
    }

    > div {

        p {
            margin: 1em 0;
            word-wrap: break-word;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
        }

        img {
            padding: .5em;
        }

        ul {
            list-style: none;
            text-indent: -1em;

            li:before {
                content: "\0BB \020";
                opacity: .5;
                margin-right: .3em;
            }
        }
    }

    > footer {
        border-top: 1px solid $comments_border-color;
        padding-top: .5em;
        clear: both; // In case there are any floating elements in the post content
    }

    h2, h3, h4, h5, h6 {
        margin: 1em 0 -.5em 0;
    }

    blockquote {
        border-top: 1px solid $comments_border-color;
        border-bottom: 1px solid $comments_border-color;
        color: lighten($text_color, 30%);
        font-size: 1.3em;
        width: 90%;
        margin: 1.5em auto;
        font-style: italic;
        font-weight: lighter;

        p {
            margin: 1em .5em;
        }
    }

    pre {
        /*font-size: .9em;
    line-height: 1.3;
    overflow: auto;
    padding: 5px 10px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    background: $code_block_bg_color;
    box-shadow: 5px 5px 5px $box_shadow_color;*/
    }

    code {
        font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    }

    table {
        font-size: .9em;
        border-collapse: collapse;
        font-variant-numeric: lining-nums tabular-nums;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    table:not(.no-highlight) tr:nth-child(2n) {
        /*tr:nth-child(odd) {*/
        background: $light-bg-color;
        /*background: #232323;*/
    }
    /*tr:nth-child(odd) {
    background: #292929;
}*/
    th {
        border-bottom: 1px solid $comments_border-color;
        text-align: left;
    }

    td, th {
        padding: 2px 7px;
    }
}

main > .row {
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
}

/*@media screen and (max-width: $xs) {
    main>.row {*/
        /*max-width: 95%;*/
        /*margin-right:0px;
        margin-left:0px;
    }    
}*/

article > img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 800px;
}

/*@media screen and (max-width: $md) {
    .home-photo {
        left: 50%;
        float:left;
        transform: translateX(-50%) translateY(-50%) !important;
    }
}

@media screen and (min-width: $md) {
    .home-photo {
        float: right;    
    }
}*/

/* Big avatar photo on index */
.home-photo {
    /* Float Middle */
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    position: relative;
    width: 70%;                         /* The percentages in width and padding-bottom must be the same!! */
    padding-bottom: calc(70% - 24px);
    background-color: #fff;
    border-radius: 1000px;
    border: 12px solid grey;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 25px 0px rgb(0,0,0);
    -moz-box-shadow: 0px 0px 25px 0px rgb(0,0,0);
    box-shadow: 0px 0px 25px 0px rgb(0,0,0);

    .hp-inner {
        background-image: url(img/avatar-medium.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        display: block;
        position: absolute;
        top: -18px;
        bottom: -18px;
        width: auto;
        left: -18px;
        right: -18px;
    }
}

.portfolio-item {
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--background);*/
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.75);
    /*background-image: var(--background);*/
    background-position: center;
    background-size: cover;
    padding: 50px;
    width: 100%;
    text-align: center;
    transition: background-color 0.25s;
    color: white;
    text-decoration: none !important;
}

.portfolio-item:hover {
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    text-decoration: underline !important;
}

p.subtitle {
    color: #b1b1b1;
    margin-top: 0px;
    font-style: italic;
    text-align: center;
}

s {
    color: #949494;
}

.center {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

#tas-map {
    min-height: 230px;
    height: 100%;
}

#tas-map-inner {
    background-image: url(/img/tasmania.svg);
    color: white; 
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: contain;
    height: 100%;
    transform: translateX(-4%);
    /*opacity: 0;
    transition: opacity 2.5s;*/
}

hr {
    max-width: 200px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

/* Background image of Hobart. */
#top-banner {
    /*background-image: url(https://www.hobartphotographertasmania.com.au/wp-content/uploads/2017/03/D8E3010.jpg);*/
    background-image: linear-gradient(to bottom, rgba(20,20,20,0.8), rgba(20,20,20,0.7)), url(https://www.hobartphotographertasmania.com.au/wp-content/uploads/2017/03/D8E3010.jpg);
    background-size: cover;
    background-position: center;
    /*background-color: rgba(0,0,0,0.8);
    background-blend-mode: color;*/
}

/* Rules just for the index page. */
.index {
    #carousel {
        border-radius: 10px;
        overflow: hidden;
    }

    #banner-content {
        padding-top:6rem !important;
        padding-bottom: 6.5rem !important;
    } 
    
    h1 {
        font-size: 5rem;
    }

    p, li, table {
        font-size: 1.3rem;
    }
}

.square:before {
    content: "";
    display: block;
    padding-top: 100%; /* initial ratio of 1:1*/
}