@{
    ViewData["Title"] = "Issun.SonOfGoran - Climate Futures Portal";
}

<article class="post container" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header>
        <h1 itemprop="name headline">Climate Futures Climate Data Extraction Portal</h1>
    </header>

    <p>This project was a web application designed to allow users to set filters and search a 150Tb climate database for data within those filters.</p>
    <p>
        The project was made over the course of one year for the <a href="https://climatefutures.org.au/">Climate Futures</a>
        Team as a capstone project for university.
    </p>
    <p>The project was developed using Agile project management methodology over a four phases (1 planning & 3 development).</p>

    <img src="~/img/portfolio/climatefutures/step1.png" />
    <p class="subtitle">
        The application took the user through a series of steps, the first step was area selection.
    </p>

    <p>
        The project team was made up of 7 members including myself including roles of Project Manager, Client Liaison, Lead Designer, Lead Documentation.
        My role was Lead Programmer throughout the year of the project.
    </p>
    <p>
        Due to the complicated nature of the climate data storage our team worked with the <a href="https://www.csiro.au/">CSIRO</a>
        <a href="https://data61.csiro.au/">Data61</a> team on their <a href="https://data61.csiro.au/en/Our-Research/Our-Work/Monitoring-the-Environment/Tracking-environmental-health/INDRA">INDRA</a> project, integrating it into
        the backend data searching portion of our project.
    </p>

    <img src="~/img/portfolio/climatefutures/step2.png" />
    <p class="subtitle">
        The steps layout allowed users to set many filters without becoming overwhelmed.
        The second step allowed users to set more specific filters such as time frame and climate variables.
    </p>

    <p>The project was a very enriching experience for me, I learnt:</p>
    <ul>
        <li>How to operate within a team and cooperate with different members and their roles.</li>
        <li>Working within a project management environment in phases.</li>
        <li>The importance of planning and writing reports on development.</li>
        <li>Technical and usability testing and the importance of user input on design choices.</li>
    </ul>

    <p>
        The project was very successful and the client was very excited with the result. For both halves of the project I received grades 97% and XX%.
    </p>

    <img src="~/img/portfolio/climatefutures/step3.png" />
    <p class="subtitle">
        The last step allowed users to verify their filters before beginning the search through the 150Tb database.
    </p>

    <p>The web application is live at this address <a href="http://144.6.227.194/">144.6.227.194</a> (subject to change).</p>
</article>