@{
    ViewData["Title"] = "Issun.SonOfGoran - Jugglenaut";
}

<article class="post container" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header>
        <h1 itemprop="name headline" style="width:50%;">Jugglenaut</h1>
    </header>

    <p>Tet.</p>
</article>