@{
    ViewData["Title"] = "Issun.SonOfGoran - Jugglenaut";
}

<article class="post container" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header>
        <h1 itemprop="name headline" style="width:50%;">Jugglenaut</h1>
    </header>

    <table>
        <tr>
            <td><i class="fab fa-github"></i></td>
            <td>Open Source @@ <a href="https://github.com/Issung/JuggleNaut">GitHub</a></td>
        </tr>
    </table>

    <p>
        JuggleNaut is a scrolling shooter game in which you control two ships at once by dragging them with the mouse! The game was developed over 5 weeks in Unity with a team of 2. All assets and code was created originally apart from the background music.
    </p>

    A gameplay video of JuggleNaut can be viewed on YouTube.
    A blog containing posts about the development of the game can be read on itch.io.
    <p>JuggleNaut can be downloaded and tried from the <a href="https://github.com/Issung/JuggleNaut/releases/tag/1.0.0">GitHub releases page</a>.</p>
</article>

<script>
    $(document).ready(function() {
        $('.nav-item:contains("Portfolio")').addClass('active');
    });
</script>