@{
    ViewData["Title"] = "Issun.SonOfGoran - MK#009";
}

<article class="post container" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header>
        <h1 itemprop="name headline" style="width:50%;">MK#009</h1>
    </header>

    <p>Tet.</p>
</article>

<script>
    $(document).ready(function() {
        $('.nav-item:contains("Portfolio")').addClass('active');
    });
</script>